@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using FacturaApp
@using FacturaApp.Web.Helpers
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="~/favicon.ico">
	<title>Gestion de Projectos</title>
	@Styles.Render("~/Bundles/account-vendor/css")
	<!-- View specific styles -->
	@RenderSection("styles",required: true)
	<script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
	</script>
	<style>
		body {
			background-color: orangered;
		}
	</style>
	<link href="https://vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet">
	<script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>


</head>
<body class="login-page"  bgcolor="red">
	@*<video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
		   poster="evaluacion-Facturas.jpg" data-setup="{}">
		<source src="Blurry Video Of People Working.mp4" type='video/mp4'>
		<source src="Blurry-Video-Of-People-Working.webm" type='video/webm'>
		<p class="vjs-no-js">
			To view this video please enable JavaScript, and consider upgrading to a web browser that
			<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		</p>*@



		<div class="login-box">
			<div class="logo">
				<a href="javascript:void(0);">Aplicacion Gestion</a>
			</div>



			@if(ViewBag.IsMultiTenancyEnabled) {
			@Html.Action("TenantChange","Account")
			}
			@RenderBody()
			@Html.Action("_AccountLanguages","Account")
			<div class="row">
				<div class="col-xs-12 text-center" style="color: #bd4157">
					<small>&copy; @DateTime.Now.Year Gestion de Projecto App. <b>Version </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("dd/mm/yyyy")]</small>
				</div>
			</div>
		</div>
		@Scripts.Render("~/Bundles/account-vendor/js/bottom")
		<script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
		</script>
		<!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
		<script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
		<script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
		<!-- View specific scripts -->
		@RenderSection("scripts",required: false)
		@Html.PartialViewScripts()
	
</body>
</html>
