@model IEnumerable<FacturaApp.Models.Proveedores>

@{
    ViewBag.Title = "Lista de clientes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contactoProveedor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleterUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifierUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contactoProveedor.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleterUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModificationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifierUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatorUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProveedor }) |
           @* @Html.ActionLink("Details", "Details", new { id=item.IdProveedor }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProveedor })
        </td>
    </tr>
}

</table>
